.container {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 400;
  font-size: 35px;
}

.description:hover {
  overflow-y: auto;
}

.description {
  overflow-y: hidden;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  height: 120px;
  margin-top: 10px;
}