.title{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}

.list:hover{
    overflow: overlay;       /*skroluje iteme horizontalno*/
}

.list{
    display: flex;
    width: 100vw - 25px;  /*ovo smo oduzeli da ne bi imali bijeli prazan prostor sa strane*/
    overflow-x: hidden;
    padding-bottom: 30pxS;
}

.tv_show_item{
    margin-right: 20px;           /*razmak izmedju itema*/
}