.icon{
    position: absolute;
    margin-left: 15px;
    margin-top: 7px;
}

.input{                                   /*search stilizovanje*/
    border-radius: 30px;
    background-color: #d9d9d96e;
    height: 30px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
}

.input::placeholder {              /*boja teksta u search*/
    color: rgb(194, 194, 194);
}

.input:focus {                /*kada kliknemo na search pojavi se tanki bijeli okvir*/
    outline-width: 0;
    border: solid 1px white;
}