body{
    color: white;
    font-family: Maximum Impact;
}

::-webkit-scrollbar{             /*stilizovali smo skrolbar horizontalini da bude taman, i ovo ispod je isto za to*/
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal{
    background: rgba(0, 0, 0, 0.61);
    border-radius: 10px;

}